
html, body {
  height: 100%;
  max-height: 100%;
  background-color: #fff;
}

.outer-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-container {
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    overflow: hidden;
    padding-bottom: 20px;
    flex-direction: column;
}

.nav-container > .footer-nav {
    position: relative;
    transition: top 250ms;
    top: 5em;
}

.nav-container:hover > .footer-nav {
    transition: top 250ms;
    top: 0;
}

.image-size {
    max-height: 50%;
    max-width: 50%;
}


.topcorner{
    position:fixed;
    top:20px;
    right: 40px;
    cursor: pointer;
 }

.background-grad {
  background-image: radial-gradient(#8b9da9, #fff6e4);
  box-shadow: inset 0 0 100px hsla(0,0%,0%,.3);
}

.github-icon {
    position:fixed;
    bottom:20px;
    left: 40px;
    cursor: pointer;
 }

.reddit-icon {
    position:fixed;
    bottom:20px;
    right: 40px;
    cursor:pointer;
 }

 .twitter-icon {
     position: fixed;
     bottom: 20px;
     text-align: center;
}


ul.footer-nav {
    list-style-type: none;
    display: flex;
    padding: 0;
}

ul.footer-nav li {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding: 0 0.2em;
}
