
html, body {
  height: 100%;
  max-height: 100%;
  background-color: #fff;
}



.menu-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-size {
    max-height: 90%;
    max-width: 90%;
}


.topcorner{
    position:fixed;
    top:10px;
    right: 10px;
 }
